html, body {
    width: 	100%;
}
img {
    width: 	80%;
    height: auto;
}
img.fa{
    width: 56px;
    height: auto;
}
table{
    border-collapse: collapse;
    border-spacing: 1px;
    border:1px solid black;
    
}
td{
    border:1px solid rgb(204, 9, 116);
}
tr:nth-child(even){
    background: pink;
}
tr:nth-child(odd){
    background: white;
}
caption{
    color: black;
    font-family: 'times new roman';
    text-align:center;
}
a{
    font-family: Verdana;
    
}
/* link sin visitar */
a:link {
    color: red;
}

/* link ya visto*/
a:visited {
    color:rgb(52, 100, 189);
}

/* link con el mouse arriba */
a:hover {
    color: rgb(88, 8, 126);
}

/* link seleccionado */
a:active {
    color: rgb(2, 224, 253);
}
p {
    color: black; 
    font-family: Verdana;
    text-align: center;
    width: 100%;
    /*comentario2*/
}
p.bottomfoot{
    color:white;
    text-align: center;
    font-size: 0.7em;
}
#borderimg { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url("border2.png") 30 stretch; 
    -o-border-image: url("border2.png") 30 stretch; 
    border-image: url("border2.png") 30 stretch;
}
p.titulo {
    font-size: 3em;
    font-family: fantasy;
    text-align: center;
}
p.fondo{
    font-size: 1em;
    font-family: Verdana;
    text-align: right;
}
p.fondo2{
    font-size: 1em;
    font-family: Verdana;
    text-align: left;
}
ol{
    color: black;
    font-family: Times New Roman;
    text-align: center;
    
}

body{
    background-image: url("background.jpg");
    text-align: center;
    width: 100%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: center;
}
caption{
    text-shadow: 1.5px 1.5px rgb(97, 106, 109);
}
footer{
    background-color: rgb(72, 67, 77);
    height: 500%;
    
}