html, body {
    width: 	100%;
}
img {
    width: 	100%;
}

p {
    color: white; 
    font-family: Verdana;
}
p.titulo {
    font-size: 3em;
    font-family: fantasy;
}

body{
    background: black;
}