html, body {
    width: 	100%;
}
img {
    width: 	100%;
}
a{
    font-family: Verdana;
    color:blue;
}
p {
    color: white; 
    font-family: Verdana;
    text-align: center;
    width: 100%;
}
p.titulo {
    font-size: 3em;
    font-family: fantasy;
}
p.fondo{
    font-size: 1em;
    font-family: Verdana;
    text-align: right;
}
p.fondo2{
    font-size: 1em;
    font-family: Verdana;
    text-align: left;
}
ol{
    color: white;
    font-family: Times New Roman;
    text-align: center;
    
}

body{
    background: black;
    text-align: center;
    width: 100%;
}